.card {
  transform-origin: center center;
  z-index: 1;
  margin-top: -150px; /* overlap amount */
}

.card:nth-child(1) {
  z-index: 3;
}
.card:nth-child(2) {
  z-index: 2;
}
.card:nth-child(3) {
  z-index: 1;
}
