@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Saira", sans-serif;
  background: #d1d1d1;
}
